* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#information {
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px;
}

h1 {
  color: darkblue;
}

.intro {
  color: grey;
}

span.javascript {
  background-color: darkblue;
  color: lightblue;
  padding: 2px;
  border-radius: 2px;
}

ul li:nth-child(even) {
  background-color: lightblue;
}

ul li:nth-last-child(1) {
  font-style: italic;
}
